*{
    font-family: 'Basic';
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
button:hover ,img:hover{
    opacity: 0.8;
    cursor: pointer;
}
button{
    box-shadow: 0 4px 8px rgba(75, 74, 74, 0.2);
}
/*header styles*/
nav{ 
    position: sticky; 
    width: 55%;
    min-width:fit-content;
    margin: 0.7rem auto 0 auto;
    background-color: rgba(245, 245, 245,0.85);
    display: flex;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    overflow: none;
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    gap: 2rem;  
}

.elmnt{
    display: flex;
    align-items: center;
}
.elmnt button , .close-btn ,#cancel, .toggle-btn{
    background-color: #ffffff00 ;
    border-width: 0;
    box-shadow: none;
}
nav li:first-child{
    margin-right: auto;
}
nav li:last-child{
    margin-left: auto;
}

.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    height: 2rem;
}
.sign-in-button{
    padding: 0.5rem 1rem;
    border-width: 0;
    background-color: #98d486;
    
}

.music-icon{
    height:2rem;
    margin-right: 0.5rem;
}
.pic-icon{
    height:1.5rem;
    margin-right: 0.5rem;
}
.sun-mn-icon{
    height: 1.6rem;
    margin-right: 0.5rem;
}


/*main body styles*/

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.timer-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /*  margin-right: 2rem;  only when tasks are shown*/
}
.main-sqr{
    background-color: rgba(246, 246, 246, 0.8);
    height: 410px;
    width: 410px;
    margin-top: 2rem;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.2rem;
}

/*timer styles */
#count{
    font-size: 24px;
    font-weight: bold ;
}
.circle{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 240px ;
    width: 240px;
    border-radius: 50%;
    background-color: #98D486;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pause-cont{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;  
}
#pause-icon , #play-icon{
    visibility: hidden;
    opacity: 0;
    height: 56px;
    transition: 0.1s ease, 0.5s ease;
}
#pause-icon{
    display: none;
}
.ring:hover #pause-icon , .ring:hover #play-icon{ 
    opacity: 1;  
    visibility: visible;
}
.ring:hover #pause-cont{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ring:hover #timer{
    display: none;
}

.ring{
    height: 88%;
    width: 88%;
    border-radius: 50%;
    background: rgba(246, 246, 246,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer{
    font-size: 46px;
    transition: 0.4s ease, 0.4s ease;
    font-family: 'Miskan Regular';
}
/*controle*/
.control , .control-cycle{
    display: flex;
    justify-content: space-between;
    width:60%;
}
#show-tsk, #settings , #reset{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FEF6DF ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
}
.pause{
    background-color: #98D486;
}
.settings-icn , .reset-icn{
    height: 32px;
}
.control-cycle{
    margin-top: 1rem;
    background-color: rgba(246, 246, 246, 0.7);
    width: 30%;
    min-width: 400px;
    border-radius: 20%;
}
.cycle{
    padding: 1.2em 2.5rem;
    border-width: 0;
    border-radius: 10%;
    background-color: rgba(246, 246, 246, 0.8);
}

/*onclick of show tasks : tasks styles */

#task-panel{
    display: none;
}
.main-list{
    height: fit-content;
    max-height: 400px;
    padding-bottom: 2rem;
    width: 320px;
    margin-left: 2rem;
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-control{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 1.4rem;
    justify-content: flex-end;
    align-items: center;
}
.buttons{
    display:flex ;
    justify-content: space-between;
    width: 30%;
}
.tasks-control>:first-child{
    margin-right: auto;
}
.tsk-button{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #98D486;
}
.separator{
    height: 2px;
    border-radius: 5%;
    width: 95%;
    background-color: rgba(138, 138, 138, 0.7);
    margin-left: 8px;
}
#task-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 8px;
}
.task{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 0; 
    gap: 0.8rem;   
    
}
.task>:first-child{
    margin-right: auto;
}
.task-content{
    flex-grow: 1;
    font-family:Arial, Helvetica, sans-serif;
}
.check-button{
    width: fit-content;
    background-color: #ffffff00;
    border-width: 0;
    box-shadow: none;
}
.check-box{
    height: 32px;
}
.add-task{
    border: 3px dashed rgba(138, 138, 138, 0.7);
    width: 95%;
    padding: 0.5rem 0;
    text-align: center;
    margin: 0.8rem 0;
    background-color: rgba(231, 231, 231, 0.7);
    transition: 0.2s;
}
.add-task:hover{
    background-color: rgb(216, 215, 215);
}
#add-control{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 1rem ;
    border-radius: 15%;
}
#task-input{
    border-width: 0 ;
    padding: 0.8rem 0.8rem;
    margin: 0.2rem 0 0.5rem 0;
    background-color: #f6f6f600 ;
    font-family:Arial, Helvetica, sans-serif;
}
.est{
    margin: 0.6rem 0.8rem;
}
#num-put{
    border-width: 0;
    background-color: rgb(202, 201, 201) ;
    margin:0.2rem 0.5rem 0.5rem 0.8rem;
    padding: 0.5rem;
    width: 2rem;
    text-align: end;

}
#num-put::-webkit-outer-spin-button,
#num-put::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cs-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    background-color: rgb(221, 219, 219) ;
    padding: 1rem 0;
    border-radius: 0 0 15% 15%;
}
.cancel{
    background-color: #f6f6f600;
    border-width: 0;
    transition: 0.2s;
}
.cancel:hover{
    color: white;
}
.save{
    margin-right: 1rem;
    padding: 0.3rem 0.8rem;
}
.up-down{
    border-width:0 ;
    background-color: #98D486;
    padding: 0.5rem 0.5rem;
}

/*settings page styles*/
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.settings-page ,.background-page {
  width: 360px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Basic';
}
.close-icn{
    height: 32px;
}
.timer-sett > div:first-child,
.task-sett::before {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}


.set-container {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
.set-time {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.8rem;
}
.set-time > div {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #555;
  gap: 0.2rem;
  align-items: start;
}
.time-input{
  background-color: #eee;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  width: 60px;
  font-size: 1rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.toggle {
  height: 52px;
}
.sep{
  height: 1px;
  background-color: #ddd;
  margin: 0.5rem 0;
}
/*background picker page*/
#background-overlay{
    display: none;
}
.bground{
    height: 100px;
    width: 150px;
    border-radius: 5%;
}
#upload{
    border: 2px dashed rgba(138, 138, 138, 0.7);
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 5%;
}
#upload:hover{
    background-color: rgba(231, 231, 231, 0.7);
}
#uld-icon{
    height: 24px;
}
.Background-container{
    display: grid;
    grid-template-columns: 154px 154px;
    gap:0.5rem;
    margin: 0 1rem;
}
